# Prerequisites
MyClient\*.d

# Compiled Object files
MyClient\*.slo
MyClient\*.lo
MyClient\*.o
MyClient\*.obj

# Precompiled Headers
MyClient\*.gch
MyClient\*.pch

# Compiled Dynamic libraries
MyClient\*.so
MyClient\*.dylib
MyClient\*.dll

# Fortran module files
MyClient\*.mod
MyClient\*.smod

# Compiled Static libraries
MyClient\*.lai
MyClient\*.la
MyClient\*.a
MyClient\*.lib

# Executables
MyClient\*.exe
MyClient\*.out
MyClient\*.app
